<!DOCTYPE html>
<html>
<div>
<table>
<th> <a href= {{site.base_url}}/index.html> Home </a> </th>
<th> <a href= {{site.base_url}}/origami/index.html> Origami </a> </th>
<th> <a href= {{site.base_url}}/graphics/index.html> Graphics Projects </a> </th>
<th> <a href= {{site.base_url}}/gamedev/index.html> Game Development </a> </th>
</table>
</div>
</html>